simulador/.idea/*
simulador/*.iml
simulador/css/bootstrap.css
simulador/css/bootstrap.css.map
simulador/css/bootstrap.min.css
simulador/css/bootstrap.min.css.map
simulador/css/bootstrap-grid.css
simulador/css/bootstrap-grid.css.map
simulador/css/bootstrap-grid.min.css
simulador/css/bootstrap-grid.min.css.map
simulador/css/bootstrap-reboot.css
simulador/css/bootstrap-reboot.css.map
simulador/css/bootstrap-reboot.min.css
simulador/css/bootstrap-reboot.min.css.map
simulador/js/bootstrap.bundle.js
simulador/js/bootstrap.bundle.js.map
simulador/js/bootstrap.bundle.min.js
simulador/js/bootstrap.bundle.min.js.map
simulador/js/bootstrap.js
simulador/js/bootstrap.js.map
simulador/js/bootstrap.min.js
simulador/js/bootstrap.min.js.map
